#container {
  width: 100vw;
  height: 100vh;
  background-image: url(images/trees.png), url(images/bg.jpg);
  background-size: contain, cover;

  background-repeat: no-repeat;
}

#login_container {
  width: 500px;
  height: 500px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  left: 500px;
}

#login_container {
  background-image: url(images/girl.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

#fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 200px;
  padding: 5px;

  box-sizing: border-box;

  border-radius: 5px;

  border: none;

  outline: none;
}

#fields > button {
  width: 200px;
  padding: 5px;

  box-sizing: border-box;

  background-color: #821e1e;
  color: white;

  border-radius: 5px;
  border: none;
}

#below_btn {
  display: flex;
  flex-direction: row;

  width: 210px;

  justify-content: space-between;

  margin-top: 9px;
}

h2,
input::placeholder {
  color: #7b211e;
}

.btn {
  color: #7b211e;

  border: none;

  background: none;
}

button {
  cursor: pointer;
}
